body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  main {
    margin-bottom: 80px;
  }

  .jumbotron {
    text-align: center;
    background-color:#373c37;
    color: rgb(255, 253, 253);
    border-radius: 0;
    border-bottom: 10px solid rgb(121, 120, 120);
  }
  
  
  header .btn {
    background-color: #9f501b;
    box-shadow: 2px 2px 5px #d2d7d2;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #080808;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  textarea::placeholder {
    color:#cecec6
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
    border-left: 1px dashed #000000;
  }
  
  .past {
    background-color: grey;
    color: black;
  }
  
  .present {
    background-color: orangered;
    color: black;
  }
  
  .future {
    background-color: green;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 25px;
    transition: all .3s ease-in-out;
  }
  
  .alert-animation {
    animation-name: show-and-hide;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 4.00s;
  }
  
  footer {
    background-color: #3e403e;
    border-top: solid black 6px;
    text-align: center;  
  }
